@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    border: 2px solid rgb(76, 59, 224);
    padding: 2rem;
    border-radius: 15px;
    margin: 5rem;
}
h1{
    margin: 0.4rem auto;
}
p{
    margin: 0.4rem auto;
}
input{
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: block;
    width: 100%;
    background: #cccccc;
    height: 50px;
    border-radius: 25px;
    padding: 20px;
    outline: none;
    border: none;
}
input:focus{
    background-color: rgb(133, 133, 133);
    transition: ease .5s background-color;
}
.btn{
    border: none;
    outline: none;
    padding: 0.7rem;
    margin: 15px 5px 15px 0;
    background-color: #cccccc;
    color: #fff;
    border-radius: 15px;
}
.btn-block{
    background-color: #999;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-dark{
    background-color: #555;
}
.btn:hover{
    cursor: pointer;
    background-color: #555;
    transition: ease .5s background-color;
}
.btn-dark:hover{
    cursor: pointer;
    background-color: #ccc;
    transition: ease .5s background-color;
}